*, *::before, *::after { 
  box-sizing: border-box;
}


html, body {
  margin: 0;
  padding: 0;
  min-width: 0;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}


.inicio-page {
  padding-top: 120px;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.inicio-titulo {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
}

.separador {
  margin: 30px 0;
  border: none;
  height: 2px;
  background-color: #ccc;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
.inicio-header h1 {
  margin-top: 50px;
}

.inicio-header h2 {
  margin-top: 10px;
  font-weight: 400;
}
