.producto-card {
  background: #fff;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  color: black;
}

.producto-card img {
  width: 100%;
  height: auto;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 8px;
  display: block;
}

.precio {
  font-size: 18px;
  font-weight: bold;
  color: #2e7d32;
}

.botones {
  display: flex;
  justify-content: center;
  gap: 6px;
  margin-top: 8px;
}

.btn-detalle {
  background-color: #1976d2;
  color: white;
  padding: 5px 8px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.btn-detalle:hover {
  background: #fff;
  color: darkblue;
  border: 2px solid black;
}
.btn-agregar {
  background-color: #000;
  color: white;
  padding: 5px 8px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.btn-agregar:hover {
  background: #fff;
  color: darkgreen;
  border: 2px solid black;
}
@media (max-width: 720px) {
  .grid-productos {
    grid-template-columns: 1fr;
  }
}
